* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

/* Header */
.header {
    background-color: #444;
    color: white;
    padding: 5px 15px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 16px;
    font-weight: normal;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.header-right span {
    cursor: pointer;
}

/* Navigation */
.nav {
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 30px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-item {
    background-color: #5d9de2;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 8px 15px;
    height: 32px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-item.secondary {
    background-color: #dcdddf;
}

.search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search-box {
    padding: 7px;
    border: 1px solid #ddd;

    width: 200px;
}

.search-btn {
    color: black;
    border: none;
    padding: 9px 12px;
    cursor: pointer;
    height: 32px;
}

/* Table Container */
.table-container {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(50, 46, 46);
    color: white;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
    font-weight: 600;
    font-size: 12px;
    position: relative;
}

th .th-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sort-icons {
    position: absolute;
    right: 0px;
    top: 100%;
    transform: translateY(-50%);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 10px;
}

.sort-icons span {
    height: 25px;
    display: block;
}

/* th::after {
            content: '▼';
            position: absolute;
            right: 8px;
            font-size: 10px;
            color: white;
        } */

td {
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
    font-size: 12px;
}

tr:hover {
    background-color: #f8f9fa;
}

/* Action Buttons */
.action-buttons {
    display: flex;
}

.btn-icon {
    width: 40px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.btn-view {
    background-color: #85ccd7;
    color: black;
}

.btn-edit {
    background-color: #ffe38e;
    color: black;
}

.btn-delete {
    background-color: #fe8490;
    color: black;
}

.delete-btn {
    background-color: #fc8994;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    margin: 15px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-top: 150px;
    padding-top: 30px;
    border-top: 1px solid #dee2e6;
}


.page-info {
    align-items: center;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: #1e3a8a;
    color: white;
    text-align: left;
    padding-left: 230px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 40px;
    width: 100%;
}

.footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 14px;
    margin: 2px 0;
}

/* Custom Checkbox */
.checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-left: 15px;
}

.checkbox:checked::after {
    content: '▼';
    position: absolute;
    top: -2px;
    left: 0px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-left: 2px;
}

.checkbox:indeterminate::after {
    content: '▼';
    position: absolute;
    top: -2px;
    left: 0px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-left: 2px;
}

.header-x {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;

}

.select-all {
    margin-right: 10px;
}


label.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.custom-td {
    /* border: 1.5px dashed #bbb;
    border-radius: 3px;
    height: 22px; */
    position: relative;
    vertical-align: top;
    /* padding: 6px 6px 6px 10px;*/
    width: 200px;
}

.icon-check {
    border: 1.5px dashed #bbb;
    border-radius: 3px;
    padding: 2px 10px;
    width: 180px;
    color: #53b0b0;
    font-size: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
}

.icon-x {
    border: 1.5px dashed #bbb;
    border-radius: 3px;
    padding: 2px 10px;
    width: 180px;
    color: #ef6567;
    font-size: 22px;
    position: absolute;
    top: 7px;
    left: 7px;
}